# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# build files
/.dapper
bin/
cscope*
validate.done

# Editors
.idea
.vscode

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vim temp file
.*.swp
